<a href="https://colab.research.google.com/github/noahnguyen2004/Constructing-Confidence-Intervals-for-Estimators/blob/main/CI_construct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statistics
import math

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/stat 332 assignments/census_2021_10k_rows.csv')

In [ ]:
df

,PPSORT,ABOID,AGEGRP,AGEIMM,ATTSCH,BFNMEMB,BedRm,CFInc,CFInc_AT,CFSTAT,CHDBN,CIP2021,CIP2021_STEM_SUM,CMA,CONDO,COVID_ERB,COW,CQPPB,CapGn,CfSize,ChldC,CitOth,Citizen,DIST,DPGRSUM,DTYPE,EFDecile,EFInc,EFInc_AT,EICBN,ETHDER,EfDIMBM_2018,EfSize,EmpIn,FOL,FPTWK,Gender,GENSTAT,GovtI,GTRfs,HCORENEED_IND,HDGREE,HHInc,HHInc_AT,HHMRKINC,HHSIZE,HHTYPE,HLMOSTEN,HLMOSTFR,HLMOSTNO,HLREGEN,HLREGFR,HLREGNO,IMMCAT5,IMMSTAT,IncTax,Invst,JOBPERM,KOL,LFACT,LICO_BT,LICO_AT,LIPROGTYPE,LI_ELIG_OML_U18,LOCSTUD,LOC_ST_RES,LSTWRK,LWMOSTEN,LWMOSTFR,LWMOSTNO,LWREGEN,LWREGFR,LWREGNO,LoLIMA,LoLIMB,LoMBM_2018,MODE,MTNEN,MTNFR,MTNNO,MarStH,Mob1,Mob5,MrkInc,NAICS,NOC21,NOL,NOS,OASGI,OtInc,PKID25,PKID0_1,PKID15_24,PKID2_5,PKID6_14,PKIDS,POB,POBPAR1,POBPAR2,POWST,PR,PR1,PR5,PresMortG,PRIHM,PWDUR,PWLEAVE,PWOCC,PWPR,REGIND,Relig,REPAIR,ROOM,Retir,SHELCO,SSGRAD,Subsidy,SempI,Tenur,TotInc,TotInc_AT,VISMIN,Value,WKSWRK,WRKACT,Wages,YRIM,WEIGHT,WT1,WT2,WT3,WT4,WT5,WT6,WT7,WT8,WT9,WT10,WT11,WT12,WT13,WT14,WT15,WT16
0,145255,6,13,4,1,0,4,2,2,7,99999999,13,11,535,0,4100,5,99999999,99999999,1,99999999,15,2,7,3,1,1,2,2,99999999,46,2,1,99999999,1,2,2,1,4000,4000,888,2,2,2,1,2,9,0,0,17,0,0,0,21,2,99999999,99999999,1,1,1,2,2,4,9,99,4,3,1,0,0,0,0,1,2,2,2,2,0,0,5,1,1,3,99999999,81,21,4,1,99999999,99999999,9,9,9,9,9,9,21,4,4,5,35,35,35,1,1,5,6,1,35,0,22,1,6,99999999,2900,4,9,99999999,1,4000,5000,3,810000,1,4,99999999,9,37.037854,22.893789,22.893789,249.198831,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789
1,848180,6,10,99,1,0,2,17,15,6,99999999,13,11,505,0,5600,1,99999999,99999999,1,99999999,15,1,3,1,2,5,17,15,99999999,59,14,1,55000,1,1,2,4,5600,5600,0,2,17,15,15,1,8,1,0,1,0,0,0,1,1,11000,99999999,2,1,1,1,1,4,9,99,4,3,1,0,0,0,0,0,1,1,1,2,1,0,1,1,2,2,55000,72,2,1,1,99999999,99999999,9,9,9,9,9,9,1,1,1,4,35,35,35,9,1,2,3,1,35,0,22,1,4,99999999,1600,4,0,99999999,2,61000,50000,1,99999999,5,9,54000,9999,37.037854,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,249.198831,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789
2,640964,6,11,99,3,0,4,31,29,2,2800,4,7,577,0,99999999,1,99999999,99999999,4,99999999,15,1,9,1,1,8,31,29,8400,59,27,4,58000,1,1,1,3,600,11700,0,6,31,29,31,4,2,1,0,1,0,0,0,1,1,8000,99999999,2,1,1,1,1,4,9,6,1,3,1,0,0,0,0,0,1,1,1,9,1,0,13,2,1,3,57000,91,13,9,1,99999999,1,0,0,0,1,0,1,1,1,3,1,35,35,35,1,0,9,9,9,35,0,6,2,11,99999999,3659,6,9,99999999,1,70000,60000,1,1550034,6,11,57000,9999,37.037854,22.893789,22.893789,22.893789,249.198831,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789
3,231943,6,15,99,1,0,3,31,28,2,99999999,4,6,555,0,99999999,1,99999999,99999999,4,99999999,15,1,9,1,1,8,31,28,99999999,17,27,4,65000,1,1,2,2,600,500,0,9,31,28,31,4,2,1,0,1,0,0,0,1,1,9000,99999999,2,1,1,1,1,4,9,6,1,3,1,0,0,0,0,0,1,1,1,9,0,0,13,2,1,1,64000,91,3,9,1,99999999,99999999,0,0,1,0,0,1,1,3,3,1,35,35,35,1,1,9,9,9,35,0,6,1,9,99999999,2100,8,9,99999999,1,65000,55000,1,610000,6,11,65000,9999,37.037854,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,249.198831,22.893789
4,548506,6,10,99,1,0,3,27,25,2,5600,10,8,535,0,10000,1,99999999,99999999,4,4700,15,1,1,1,1,6,27,25,4500,59,24,4,5000,1,1,1,4,13300,23600,0,12,27,25,25,4,2,1,0,1,0,0,0,1,1,99999999,99999999,2,1,2,1,1,4,9,6,1,2,1,0,0,0,0,0,1,1,1,2,1,0,1,2,1,2,6000,62,9,1,1,99999999,99999999,0,1,0,1,0,1,1,1,1,4,35,35,35,0,0,1,4,1,35,0,18,1,6,99999999,900,11,9,1000,1,29000,28000,1,1860000,2,3,5000,9999,37.037854,22.893789,22.893789,22.893789,22.893789,22.893789,249.198831,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,48550,6,11,8,1,0,3,30,27,2,5900,5,4,933,0,99999999,9,99999999,99999999,4,99999999,5,3,9,1,3,7,30,27,99999999,59,26,4,99999999,1,9,1,1,100,6100,0,10,30,27,30,4,2,1,0,1,0,0,1,21,2,99999999,99999999,9,1,10,1,1,4,9,17,3,1,9,9,9,9,9,9,1,1,1,9,0,0,32,2,1,6,99999999,999,99,25,1,99999999,99999999,0,0,0,1,0,1,18,6,6,9,59,59,99,1,0,9,9,9,99,0,5,1,5,99999999,2200,9,9,99999999,1,6000,7000,1,730000,9,1,99999999,2018,37.036313,22.892837,22.892837,22.892837,22.892837,22.892837,22.892837,22.892837,22.892837,22.892837,22.892837,22.892837,249.188465,22.892837,22.892837,22.892837,22.892837
9996,249111,6,17,99,1,0,3,16,15,1,99999999,13,11,999,0,99999999,9,6400,99999999,2,99999999,15,1,9,1,1,3,16,15,99999999,3,15,2,99999999,2,9,1,4,100,6500,0,2,16,15,12,2,1,0,1,1,0,0,0,1,1,1,99999999,9,2,13,1,1,9,9,99,4,1,9,9,9,9,9,9,1,1,1,9,0,1,1,2,1,1,19000,999,99,1,1,99999999,99999999,0,0,0,0,0,0,1,1,1,9,24,24,24,0,0,9,9,9,99,0,6,1,6,19100,400,4,9,99999999,1,25000,25000,1,180000,9,1,99999999,9999,37.050074,22.901342,22.901342,22.901342,22.901342,22.901342,22.901342,22.901342,22.901342,249.281046,22.901342,22.901342,22.901342,22.901342,22.901342,22.901342,22.901342
9997,385456,6,13,99,1,0,4,21,19,2,4800,13,11,421,1,99999999,6,99999999,99999999,3,99999999,15,1,9,1,2,4,21,19,99999999,11,16,3,41000,2,9,1,4,99999999,4800,0,1,21,19,19,3,2,0,1,1,0,0,0,1,1,4000,99999999,1,2,1,1,1,9,9,99,4,3,0,1,0,0,0,0,1,1,1,6,0,1,1,2,1,1,41000,62,14,1,1,99999999,99999999,0,0,1,0,0,1,1,1,1,2,24,24,24,9,1,1,6,9,99,0,22,1,7,99999999,200,1,0,99999999,2,45000,40000,1,99999999,0,2,41000,9999,37.050074,22.901342,22.901342,22.901342,22.901342,22.901342,22.901342,22.901342,22.901342,22.901342,22.901342,22.901342,249.281046,22.901342,22.901342,22.901342,22.901342
9998,334832,6,17,99,1,0,2,14,13,6,99999999,5,4,999,0,14000,1,6100,99999999,1,99999999,15,1,9,1,1,4,14,13,4700,7,12,1,14000,1,2,1,3,15400,33900,0,6,14,13,6,1,8,1,0,1,0,0,0,1,1,5000,99999999,2,1,3,1,1,4,9,6,1,3,1,0,0,0,0,0,1,1,1,9,1,0,1,5,1,1,14000,71,20,1,1,7600,99999999,9,9,9,9,9,9,1,1,3,9,35,35,35,9,1,9,9,9,99,0,15,1,5,99999999,700,6,0,99999999,2,47000,41000,1,99999999,6,12,14000,9999,37.037854,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,22.893789,249.198831,22.893789,22.893789
9999,41202,6,4,1,9,0,3,28,26,4,99999999,99,99,602,1,99999999,9,99999999,99999999,6,99999999,5,2,9,4,1,5,28,26,99999999,33,26,6,99999999,1,9,1,1,99999999,99999999,0,99,28,26,22,6,2,1,0,1,0,1,1,21,2,99999999,99999999,9,1,99,1,1,2,2,99,9,9,9,9,9,9,9,9,1,1,1,9,1,1,1,1,1,4,99999999,999,99,26,1,99999999,99999999,0,0,1,1,1,1,18,6,6,9,46,46,46,1,9,9,9,9,99,0,2,1,5,99999999,1900,99,9,99999999,1,99999999,99999999,4,400000,9,99,99999999,2011,37.019257,22.882294,22.882294,22.882294,22.882294,22.882294,22.882294,22.882294,22.882294,22.882294,22.882294,22.882294,22.882294,22.882294,249.073708,22.882294,22.882294

In [ ]:
print(list(df.columns))

['PPSORT', 'ABOID', 'AGEGRP', 'AGEIMM', 'ATTSCH', 'BFNMEMB', 'BedRm', 'CFInc', 'CFInc_AT', 'CFSTAT', 'CHDBN', 'CIP2021', 'CIP2021_STEM_SUM', 'CMA', 'CONDO', 'COVID_ERB', 'COW', 'CQPPB', 'CapGn', 'CfSize', 'ChldC', 'CitOth', 'Citizen', 'DIST', 'DPGRSUM', 'DTYPE', 'EFDecile', 'EFInc', 'EFInc_AT', 'EICBN', 'ETHDER', 'EfDIMBM_2018', 'EfSize', 'EmpIn', 'FOL', 'FPTWK', 'Gender', 'GENSTAT', 'GovtI', 'GTRfs', 'HCORENEED_IND', 'HDGREE', 'HHInc', 'HHInc_AT', 'HHMRKINC', 'HHSIZE', 'HHTYPE', 'HLMOSTEN', 'HLMOSTFR', 'HLMOSTNO', 'HLREGEN', 'HLREGFR', 'HLREGNO', 'IMMCAT5', 'IMMSTAT', 'IncTax', 'Invst', 'JOBPERM', 'KOL', 'LFACT', 'LICO_BT', 'LICO_AT', 'LIPROGTYPE', 'LI_ELIG_OML_U18', 'LOCSTUD', 'LOC_ST_RES', 'LSTWRK', 'LWMOSTEN', 'LWMOSTFR', 'LWMOSTNO', 'LWREGEN', 'LWREGFR', 'LWREGNO', 'LoLIMA', 'LoLIMB', 'LoMBM_2018', 'MODE', 'MTNEN', 'MTNFR', 'MTNNO', 'MarStH', 'Mob1', 'Mob5', 'MrkInc', 'NAICS', 'NOC21', 'NOL', 'NOS', 'OASGI', 'OtInc', 'PKID25', 'PKID0_1', 'PKID15_24', 'PKID2_5', 'PKID6_14', 'PKIDS', 'POB', 'POBPAR1', 'POBPAR2', 'POWST', 'PR', 'PR1', 'PR5', 'PresMortG', 'PRIHM', 'PWDUR', 'PWLEAVE', 'PWOCC', 'PWPR', 'REGIND', 'Relig', 'REPAIR', 'ROOM', 'Retir', 'SHELCO', 'SSGRAD', 'Subsidy', 'SempI', 'Tenur', 'TotInc', 'TotInc_AT', 'VISMIN', 'Value', 'WKSWRK', 'WRKACT', 'Wages', 'YRIM', 'WEIGHT', 'WT1', 'WT2', 'WT3', 'WT4', 'WT5', 'WT6', 'WT7', 'WT8', 'WT9', 'WT10', 'WT11', 'WT12', 'WT13', 'WT14', 'WT15', 'WT16']

In [ ]:
# population with French as the first language spoken at home. the column type is binary (0 as No, 1 as Yes)
df['FOL']

0       1
1       1
2       1
3       1
4       1
       ..
9995    1
9996    2
9997    2
9998    1
9999    1
Name: FOL, Length: 10000, dtype: int64

In [ ]:
# estimate the population proportion that speaks French as their first official language at home. 95% C.I of the attribute
# french first lang spoken proportion from the sample
fr_p_hat = len(df[df['FOL'] == 2]) / len(df)
fr_p_hat

0.2067

In [ ]:
# constructing a 95% confidence interval
lower_bound_fr_pp = fr_p_hat - 1.96 * math.sqrt(fr_p_hat * (1 - fr_p_hat)) / math.sqrt(len(df))
upper_bound_fr_pp = fr_p_hat + 1.96 * math.sqrt(fr_p_hat * (1 - fr_p_hat)) / math.sqrt(len(df))
print(f"95% confidence interval for FOL: ({lower_bound_fr_pp}, {upper_bound_fr_pp})")

95% confidence interval for FOL: (0.19876320730662567, 0.21463679269337432)

There are values that are not applicable (99999999 and 88888888). We proceed setting those values to 0.

In [ ]:
df.loc[df['EmpIn'] == 99999999, 'EmpIn'] = 0
df.loc[df['EmpIn'] == 88888888, 'EmpIn'] = 0

In [ ]:
df['EmpIn']

0           0
1       55000
2       58000
3       65000
4        5000
        ...
9995        0
9996        0
9997    41000
9998    14000
9999        0
Name: EmpIn, Length: 10000, dtype: int64

### Estimate the population mean employment income

In [ ]:
# sample mean for employment income
empin_mean_hat = df['EmpIn'].mean()
empin_mean_hat

28275.6536

In [ ]:
empin_lst = list(df['EmpIn'])
empin_std_err = statistics.stdev(empin_lst) / (len(df) ** 0.5)
empin_std_err     # standard error for employment income

512.2862650655961

In [ ]:
# margin of error
margin_of_error_empin = 1.96 * empin_std_err
print(f"Margin of error for EmpIn: {margin_of_error_empin}")         # 1.96 is the Z-value for a 95% confidence interval

Margin of error for EmpIn: 1004.0810795285684

In [ ]:
# 95% confidence interval for the population mean
lower_bound_empin = empin_mean_hat - margin_of_error_empin
upper_bound_empin = empin_mean_hat + margin_of_error_empin

print(f"95% confidence interval for EmpIn: ({lower_bound_empin}, {upper_bound_empin})")

95% confidence interval for EmpIn: (27271.572520471433, 29279.73467952857)

### Estimate the population proportion number of Canadian residents between ages of 20 and 29 (binary variable)

In [ ]:
# sample proportion of Canadian residents between ages 20 and 29
agegrp_req_p_hat = len(df[(df['AGEGRP'] == 8) | (df['AGEGRP'] == 9)]) / len(df)
agegrp_req_p_hat

0.1283

In [ ]:
agegrp_req_lst = list(df[(df['AGEGRP'] == 8) | (df['AGEGRP'] == 9)]['AGEGRP'])
agegrp_n = len(agegrp_req_lst)
n = len(df)
# std_err_agegrp_req = math.sqrt(agegrp_req_p_hat * (1 - agegrp_req_p_hat))
# print(f"Standard error for AGEGRP of Code 8 and 9: {std_err_agegrp_req}")

std_err_agegrp_req = math.sqrt(1 - agegrp_n / n) * math.sqrt(agegrp_req_p_hat * (1 - agegrp_req_p_hat)) / math.sqrt(agegrp_n)
print(f"Standard error for AGEGRP of Code 8 and 9: {std_err_agegrp_req}")

Standard error for AGEGRP of Code 8 and 9: 0.008716999999999999

In [ ]:
# constructing a 95% confidence interval
lower_bound_agegrp_req = agegrp_req_p_hat - 1.96 * math.sqrt(agegrp_req_p_hat * (1 - agegrp_req_p_hat)) / math.sqrt(len(df))
upper_bound_agegrp_req = agegrp_req_p_hat + 1.96 * math.sqrt(agegrp_req_p_hat * (1 - agegrp_req_p_hat)) / math.sqrt(len(df))
print(f"95% confidence interval for AGEGRP of Code 8 and 9: ({lower_bound_agegrp_req}, {upper_bound_agegrp_req})")

95% confidence interval for AGEGRP of Code 8 and 9: (0.12174529844328516, 0.13485470155671483)